:root {
  --main-color: #dcdcdc;
}
table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  border: 2px dotted black !important;
  padding: 0.5rem !important;
}
.container {
  margin: 0 auto;
}




.tree {
  cursor: pointer;
  width: 600px;
  margin: 0 auto;
  padding: 1rem;
}
